<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/contactUs.css"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KITTY CLUB</title>
</head>
<body>
    <nav>
        <ul>
            <div><a href="/">KITTY CLUP</a></div>
            <li><a href="/contactus">Contact</a></li>
            <li><a href="/ourservices">About</a></li>
            <li><a  href="/">Home</a></li>

          </ul>
      </nav>

    <h1>
        phone :
    </h1>
    <h1> 01000200134</h1>
</body>
</html>