<html lang="en">
    <link rel="stylesheet" type="text/css" href="css/homePage.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitty Club</title>
</head>
<body>
    <nav>
        <ul>
            <div><a href="/">KITTY CLUP</a></div>
            <li><a href="/contactus">Contact</a></li>
            <li><a href="/ourservices">About</a></li>
            <li><a  href="/">Home</a></li>

          </ul>
      </nav>
      <div class="bod">
<div >
          <h1>The most convenient monthly litter box ever.</h1>
          <p>Our patented box and revolutionary litter options set the standard for convenience and simplicity. You'll receive a new litter box every month, pre-filled with odor-destroying litter of your choice from our multiple litter options. Best part? It all costs less than one bag of subscription litter from the leading competitor—and we'll even throw in free shipping!</p>
        </div>
          <div>

            <h1>Over 20,000 5-star reviews!</h1>
            <button>Join The Club</button>
        </div>
        <div> 
            <h1>Our litter collection</h1>
        <p> Choose from any of our premium litter types, and easily switch anytime. All of these options are designed so you have no odor for a full month for a single cat. All of our litters are free of scents, dyes, and chemicals, and are safe for your pets and home.
        </p>
    </div>
        <div>
            <h1>
            Our litter boxes </h1>
    <p>Our patented, eco-friendly litter boxes is made from recycled materials and can be recycled itself at the end of the month. It's leakproof and built to last a full 30 days for a single cat.

     </p>
     <button>Buy Now </button>
     </div>
      </div>
            
    
   
    
</body>
</html>