<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/ourServices.css"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KITTY CLUB</title>
</head>
<body>
    <nav>
        <ul>
            <div><a href="/">KITTY CLUP</a></div>
            <li><a href="/contactus">Contact</a></li>
            <li><a href="/ourservices">About</a></li>
            <li><a  href="/">Home</a></li>
          </ul>
      </nav>
      <div class="about">   
           <h1>More about our product ...</h1>
           <h3 >Leakproof</h3> 
           <h3 >Recycable</h3> 
           <h3 >Free Shipping</h3> 
           <h3>Odor fightin</h3>



    </div>

</body>
</html>